<p>

    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Major</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= @student[0][1] %></td>
      <td><%= @student[0][2] %></td>
      <td><%= @student[0][3] %></td>
      <td><%= @student[0][4] %></td>
      <td><%= @student[0][5] %></td>
    </tr>
    
  </tbody>
</table>

</p>